body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#shapes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    height: 50%;
}

.box {
    height: 100px;
    aspect-ratio: 1/1;
}

.circle {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}